<body class="text-gray-900">
  <!-- Navigacija -->
  <nav class="bg-blue-600 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a class="text-white text-2xl font-bold" href="/">Mreža Sportskih Talenta</a>
      <div class="flex space-x-6">
        <a class="text-white hover:text-gray-200">Početna</a>
        <a class="text-white hover:text-gray-200">Otkrij</a>
        <a class="text-white hover:text-gray-200">Mreža</a>
        <a class="text-white hover:text-gray-200">Mogućnosti</a>
        <a class="text-white hover:text-gray-200">Kontakt</a>
      </div>
    </div>
  </nav>
  <h1>{{ title }}</h1>
  <router-outlet></router-outlet>
</body>
